{# VERSION TABLEAU #}
{% extends 'base.html.twig' %}

{% block title %}BOUCLES D'OREILLES{% endblock %}

{% block body %}
<h1>BOUCLES D'OREILLES</h1>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Nom</th>
                    <th class="text-center" scope="col">Description</th>
                    <th class="text-center" scope="col">Quantité</th>
                    <th class="text-center" scope="col">Prix unitaire</th>
                </tr>
            </thead>
            <tbody>
                    
                        <tr>
                            <td class="text-center" scope="col">{{earing.name}}</td>
                            <td class="text-center" scope="col">{{earing.description}}</td>
                            <td class="text-center" scope="col">{{earing.quantity}}</td>
                            <td class="text-center" scope="col">{{earing.unitprice}}</td> 
                        </tr>
                    
            </tbody>
        </table>
    </div>
{% endblock %}