{% extends "base.html.twig" %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <h1>MENTION LEGALES</h1>


<div class="course">

            <p>Le site internet www.atelierpaulinerousseau.fr est édité par la société AtelierPaulineRousseau 
            dont le siège social est situé à Angers.

           <br> Pour toute demande concernant le site internet www.atelierpaulinerousseau.fr, 
            vous pouvez nous contacter par e-mail à pauline.rousseau@atelierpaulinerousseau.fr.

            <br>Le présent site internet est hébergé par Camille GUINGUAND, développeuse web et web mobile.</p>
</div>


{% endblock %}