{% extends 'base.html.twig' %}

{% block title %}Atelier Pauline{% endblock %}

{% block body %}
    <!-- Mise en page de la barre de navigation et sur téléphone -->
    <section class="header_savoirfaire">
        <div class="text-box">
            <h1>ATELIER PAULINE</h1>
            <p>Nous nous devons de partager l’histoire de nos bijoux de l’idée originelle à la production. <br> Cet exercice de transparence vous permettra de découvrir toutes les étapes qui rendent nos bijoux si originaux.
            </p>
            <a href="#" class="hero-btn">Venez découvrir notre marque</a>
        </div>
    </section>

<div class="course">

    <h1>SAVOIR FAIRE</h1>
        <h3>ON DIT QUE NOS BIJOUX SONT FAITS MAIN MAIS 
            EN RÉALITÉ ILS SONT FABRIQUÉS AVEC DU CŒUR.</h3>

            <p>Convaincu qu’il n’existe pas de compromis entre la 
                joaillerie et la fantaisie, LÕU.YETU propose un nouveau 
                style de bijouterie. Des bijoux fétiches du quotidien, 
                issus des savoir-faire de nos artisans parisiens : 
                assemblés ou dessinés, soudés et empierrés, texturés 
                et dorés, ajustés puis controlés, tous sont conçus pour 
                durer. Nous sommes fiers de la qualité de nos bijoux et 
                assurons à tous nos clients une garantie d’un an pour 
                chaque achat.

                Nous nous devons de partager l’histoire de nos bijoux 
                de l’idée originelle à la production. Cet exercice de 
                transparence vous permettra de découvrir toutes les 
                étapes qui rendent nos bijoux si originaux.</p>


                <h3>Les étapes pour fabriquer un bijou</h3>
                    <section>
                        <img class="savoirfaire" src="https://images.pexels.com/photos/4354608/pexels-photo-4354608.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="idee">
                        <img class="savoirfaire" src="https://images.pexels.com/photos/4354593/pexels-photo-4354593.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="poncage">
                        <img class="savoirfaire" src="https://images.pexels.com/photos/4354624/pexels-photo-4354624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="poncage">
                        <img class="savoirfaire" src="https://images.pexels.com/photos/4354569/pexels-photo-4354569.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="poncage">
                    </section>
</div>

{% endblock %}